/* kOS Kiosk - Extra styles */

body { background-color:#EEE; }
h1 { font-size:3.5em; }

.vcenter {
   min-height: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   text-align:center;
}

.page-icon { width:50%; }
.page-icon-wrapper { width:100%; }
.page-icon-wrapper i { font-size:15em;margin-bottom:15px; }
.page-icon-small { width:100%; font-size:5em;margin-bottom:15px; }

.no-opacity {
   opacity:0;
   filter:alpha(opacity=0);
}

.btn-lg {
   font-size:2.2em;
   padding-bottom:15px;
   padding-top:15px;
   margin-bottom:15px;
}

.btn-user {
   font-size:1.4em;
   margin:8px 20px;
   padding:20px 0px;
}

.btn-navbar {
   font-size:1.2em;
   padding:10px 10px;
   margin:0;
}




.confirmbutton {
   font-size:30px;
   font-weight:bold;
   padding-top:20px;
   padding-bottom:20px;
   margin-bottom:20px;
   width:150px;
   margin-top:30px;
}

.form-group {
   text-align:center;

}

#inputimage {
   display:inline;
   text-align:center;
   border:1px solid #999;
   border-radius:15px;
   padding:10px;
}

#previewimage {
   height:400px;

}
